*{
    padding: 0;
    margin: 0;
    font-family: "Source Sans Pro";
}
.margin--30{
    margin: 30px;
}
.margin--60{
    margin: 60px;
}
.margin--right--45{
    margin-right: 45px;
}
.margin--tb--150{
    margin-top: 150px;
    margin-bottom: 150px;
}
.padding--20{
    padding: 20px;
}
.about--title, .about--text{
    width: 100%;
}
.font-color--blue{
    color: #30cec2;
}
.font-color--white{
    color:white;
}
.font-color--darkgray{
    color: #1a3b43;
}
.intro{
    background: url("./assets/Images/callback.jpg");
    padding: 300px 50px; 
    display: flex;
    flex-direction: column;
}
.intro--title h1{
    font-size: 36px;
    font-weight: 900;
}
.intro--information{
    font-size: 20px;
    font-weight: 400;
    color:white;
    margin-top: 20px;
}
.title{
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 46px;
}
.text{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    width: 70%;
}
.photo__img--left{
    width: 100%;
    margin-left: -75px;
    padding-top: 30px;
}
.photo__img--right{
    width: 75%;
    float: right;
    padding-bottom: 50px;
}
.highlighted-number{
    font-size: 125px;
    font-weight: 900;
    color: black;
    opacity: .16;
}
.lectures__wrapper, .discussion__wrapper{
    position: relative;
}
.lectures__number, .discussion__number{
    position: absolute;
}
.lectures__content{
    margin-left: 60px;
}
.discussion__content{
    padding-top: 60px;
    padding-left: 30px;
}
.discussion{
    float: left;
}
.showroom{
    float: left;
}

.triangle{
    background-color: #1a3b43;
    clip-path: polygon(0 0, 100% 30%, 100% 100%, 0 100%, 0 0);
    position: absolute;
    height: 1050px;
    width: 100%;
    z-index: -1;
    margin-top: 0px;
    padding-bottom: 150px;
}
.clouds{
    position: relative;
}

.showroom__content--text, .discussion__content--text{
    position: absolute;
}
