.main{
    width: 100%;
}
.intro{
    background: url("./assets/Images/callback.jpg");
    padding: 300px 50px; 
    display: flex;
    flex-direction: column;
}
.intro--title h1{
    font-size: 36px;
    font-weight: 900;
}
.intro--information{
    font-size: 20px;
    font-weight: 400;
    color:white;
    margin-top: 20px;
}
.about--photo{
    display: none;
}
.lectures__wrapper, .discussion__wrapper{
    position: relative;
}
.lectures__number, .discussion__number{
    position: absolute;
}
.lectures__content{
    margin-left: 60px;
}
.discussion__content{
    padding-top: 60px;
    padding-left: 30px;
}
.discussion{
    float: left;
    width: 100%;
    background-color: #1a3b43;
    margin-bottom: -1px;
}
.top{
    clip-path: polygon(0 0,100% 0,100% 100%);
    background-color: white;
    height: 200px;
    margin-top: -1px;
}
.showroom{
    float: left;
    width: 100%;
    background-color: #1a3b43;
    margin-bottom: 50px;
}
.workshop, .networking, .prizes{
    width: 100%;
}
.clouds{
    position: relative;
}
.showroom__content--text, .discussion__content--text{
    position: absolute;
}
.networking__content{
    margin-left: 120px;
}
.showroom__content{
    margin-top: 150px;
    margin-bottom: 150px;
}
.prizes_photo{
    float: right;
    width: 65%;
}
.prizes__photo--img{
    width: 100%;
    max-width: 480px;
    margin-right: -20%;
    padding-bottom: 50px;
}
.showroom__photo--img{
    width: 65%;
    max-width: 480px;
    float: right;
    margin-bottom: -50px;
}
.discussion__photo--img{
    position: relative;
    margin-top: -58%;
}

@media screen and (min-width: 768px){
    .about{
        display: flex;
        justify-content: space-between;
        margin-right: 0;
        margin-bottom: 0;
    }
    .about--content{
        width: 60%;
    }
    .about--text{
        width: 100%;
    }
    .about--photo{
        display: block;
        width: 30%;
        padding-top: 10%;
    }
    .about__photo--img{
        width: 100%;
    }
    .lectures{
        display: flex;
        margin-top: -17%;
    }
    .lectures__photo{
        width: 100%;
    }
    .lectures__content{
        width: 85%;
    }
    .lectures__wrapper{
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 0;
        margin-right: auto;
    }
    .showroom{
        padding-top: 50px;
    }
    .showroom__photo--img {
        max-width: 250px;
        float: right;
        margin-bottom: 10px;
    }
    .showroom__content{
        margin-top: 0;
        margin-bottom: 0;
        position: absolute;
    }
    .showroom__content--text{
        position: unset;
    }
    .networking, .workshop{
        display: flex;
        margin-bottom: 60px;
    }
    .networking__content{
        width: 50%;
        margin-left: 0;
    }
    .networking__content--text{
        width: 100%;
    }
    .networking_photo{
        width: 35%;
        margin-top: -1%;
    }
    .networking__photo--img{
        padding-top: 0;
        margin-top: 0;
        width: 100%;
        margin-left: -20%;
    }
    .prizes, .workshop{
        display: flex;
        flex-direction: row-reverse;
    }
    .prizes_photo, .workshop__photo{
        width: 65%;
    }
    .prizes__photo--img, .workshop__photo--img{
        width: 100%;
    }
    .prizes__content, .workshop__content{
        margin-left: 15%;
    }
    .prizes__content--text, .workshop__content--text{
        width: 100%;
    }
    .workshop__photo--img{
        margin-right: 0;
        width: 80%;
    }
    .discussion{

    }
    .content{
        display: flex;
        margin-top: -30%;
        padding-top: 5%;
    }
    .discussion__wrapper{
        width: 65%;
        margin: 0;
        padding: 0;
    }
    .discussion__photo{
        width: 35%;
    }
    .discussion__photo--img{
        margin-top: 0;
    }  
    .top{
        clip-path: polygon(0 0, 0% 100%, 50% 0);
        height: 300px;
    }
    .workshop{
        margin-bottom: -15%;
        position: relative;
        z-index: 2;
    }
}

@media screen and (min-width: 1024px){
    .about{
        margin-top: 90px;
    }
    .showroom{
        margin-bottom: 0;
    }
    .networking__content{
        margin-top: auto;
        margin-bottom: auto;    
        width: 35%;
    }
    .networking_photo{
        margin-top: -5%;
    }
    .prizes__content{
        margin-right: 20%;
    }
    .top{
        clip-path: polygon(0 0, 0% 100%, 40% 0);
    }
    .discussion__wrapper{
        width: 30%;
        padding-left: 5%;
    }
    .discussion__photo{
        width: 30%;
    }
    .workshop__photo{
        width: 40%;
    }
    .lectures__photo--img{
        width: 65%;
        margin-bottom: 10%;
    }
    .lectures__wrapper{
        margin-left: -10%;
    }
    .lectures__content{
        width: 80%;
    }
    .workshop{
        padding-bottom: 10%;
        margin-bottom: -20%;
    }
    .workshop__content{
        margin: 0;
        width: 40%;
    }
    .workshop__photo--img{
        width: 65%;
    }
    .about--photo{
        width: 30%;
        padding-top: 0;
    }
    .about--content{
        width: 55%;
    }
}

@media screen and (min-width: 1440px){
    .lectures__photo--img{
        width: 90%;
    }
    .workshop__photo--img{
        width: 100%;
    }
    .discussion__photo{
        width: 40%;
    }
    .top{
        height: 450px;
    }
    .discussion__wrapper{
        margin-top: auto;
        margin-bottom: auto;
    }
    .showroom__photo--img{
        min-width: 600px;
    }
    .showroom__content{
        margin-top: 10%;
        margin-bottom: 10%;
        margin-left: 10%;
        margin-right: 10%;
        width: 30%;
    }
    .networking_photo{
        width: 85%;
        margin-top: -10%;
    }
    .networking__content{
        width: 60%;
    }
    .prizes__photo--img{
        max-width: unset;
    }
    .prizes_photo{
        width: 85%;
    }
    .prizes__content{
        margin-left: 20%;
        margin-right: 10%;
        margin-top: 10%;
    }
    .intro--title h1{
        font-size: 65px;
    }
    .intro--information{
        font-size: 28px;
    }
}