@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7l.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
*{
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro';
    -moz-box-sizing:border-box; 
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;

}

.order1{
    order:1;
    }
.order2{
    order:2;
    }
.order3{
    order:4;
    }
.padding40{
    padding: 40px;
}

.sponzori__tekst{
    text-align: left;
    line-height: 1.8;
    font-size: 14px;
}
.main{
position: relative;
}

.container{
   
   
    max-width: 938px;
    margin: 0 auto;
}
.footer{
    padding: 20px 40px;
    display: flex;
    flex-direction: column-reverse;
   
}

.footer h4{
    font-weight: 50;
    font-size: 11px;
    margin-top: 15px;
}
.footer img{
    margin-bottom: -9px;
    padding-right: 10px;
}

nav{
    padding: 0 40px;
}

nav img{
    width: 40px;
    margin-right: 20px;
}
.pridruzi{
    padding-top: 40px;
    display: flex;
    flex-direction: column-reverse;
}

.pridruzi h2{
   color: #30cec2;
   font-size: 32px;
   font-weight: bold;
   max-width: 200px;
   z-index: 2;
   
}
.pridruzi__kontaktiraj{
    display: flex;
    flex-direction: column;
}
.pridruzi__kontaktiraj a{
    margin: 15px 0 25px 0;
 
}
.pridruzi__registriraj {
    display: flex;
    flex-direction: column;
    box-shadow: 10px 15px 30px rgba(50,50,93,.2), 0 1px 3px rgba(0,0,0,.1);
 background-color: #1a3b43;
    background-image: url("../Images/34744053275_072acb31db_o.png");
    background-size:1000px;

    position: relative;
    z-index: 1;
    max-width: 100%;
    

}
.pridruzi__registriraj--vrlik{
 max-width: 100%;

}
.pridruzi__registriraj--vrlik img{
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: 0px;
    height: 110%;

  
}

.pridruzi__registriraj a{
    margin: 15px 0 25px 0;
    color: white;
    z-index: 2;
}
.button__pridruzi{
    width: 150px; 
    
    color: white;
    font-weight: 700;
    font-size: 16px;
    background-color: #30cec2;
    z-index: 2; 
    transition: all .2s ease-in-out;
    padding: 5px 15px;
    border-radius: 6px;
    border:none;
    
}
.newsletter{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.newsletter h2{
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 900;  
    color: #1a3b43;
    
}

.newsletter__tekst{
    padding: 20px 0;
}
.newsletter__content{
    max-width: 100%;
    display: flex;
}
.newsletter__input{
    background-color: #f2f2f2; 
    border: none;
    border-radius: 4px;
    padding: 12px 10px;
    font-size: 16px; 
    justify-content: center;
}
.newsletter__button{
    color: white;
    background: #1a3b43;
    border-radius: 4px;
    border: 0;
    padding: 10px 10px;
    width: 100px;
    font-weight: 900;


}
.newsletter__wrapper{
    display: flex;
    
    margin: 0 auto;
}
.sponzori{
  
    text-align: center;
}
.sponzori__broncani img{

width: 170px;
}
.sponzori__broncani h2{
    color: #30cec2;
    margin-top: 60px;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 900;

}
.sponzori__broncani,  .sponzori__srebrni{
    max-width: 1200px;
    margin: 0 auto;
}

.sponzori__srebrni img{
    width: 240px;
}
.sponzori__srebrni h2{
    text-transform: uppercase;
    font-size: 42px;
    color: #30cec2;
    margin-top: 60px;
    font-weight: 900;
}
.sponzori__zlatni--logo{
    width: 200px;
}
.sponzori__zlatni--img{
    
    max-width: 400px;
    height: 100%;
    border-radius: 6px;
    position: relative ; 
    padding-top: 40%;
    margin: 0 auto;
  
    background-position: center center;
    background-size: cover;
    margin-bottom: 15px;
}
.sponzori__zlatni--en{
    background-image:url('../Images/sponzori/en.jpg');
}
.sponzori__zlatni--net{
    background-image:url('../Images/sponzori/seek.jpg');
}
.sponzori__zlatni--seek{
    background-image:url('../Images/sponzori/net.jpg');
}


.sponzori__zlatni--h2{
    color: #30cec2;
    margin-top: 60px;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 900;
}
.sponzori__generalni{
    max-width: 1120px;
    margin: 0 auto;
}
.sponzori__generalni--img{
    position: absolute;
    left: 0;
    max-width: 100%;
    border-radius: 6px;
    padding-bottom: 20px;

    border-radius: 6px;
    transition: opacity 1s ease-in-out;
    animation-name: cf4FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 8s;
}
@keyframes cf4FadeInOut {
    0% {
      opacity:1;
    }
    17% {
      opacity:1;
    }
    25% {
      opacity:0;
    }
    92% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  .sponzori__generalni--img4 {
    animation-delay: 6s;
  }
  .sponzori__generalni--img3 {
    animation-delay: 4s;
  }
  .sponzori__generalni--img2 {
    animation-delay: 2s;
  }
  .sponzori__generalni--img1 {
    animation-delay: 0;
  }
.sponzori__generalni--h2{
    text-transform: uppercase;
    font-size: 42px;
    color: #1a3b43;
    font-weight: bold;
}
.sponzori__generalni--logo{
    width: 250px;
}
.sponzori__generalni::after{
    content: "";
    clear: both;
    display: block;
    
}

.sponzori__naslov{
    width:70%; 
    padding-bottom: 30px;
 
}

.sponzori__naslov img{
    width:100%; 
    margin-left: -50px;
}
.galerija{
    display: none;
}
.statistike{
    display: none;
}
.raspored{
    border-top: #30cec2 10px solid ;
    box-shadow: inset 0 69px 164px -127px rgba(48,206,193,.7);

}
.raspored__naslov {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}
.raspored__naslov h1 {
    font-weight: bold;
    color: #1a3b43;
    font-size:36px;
    padding-bottom: 20px;
    
}
.raspored__naslov span{
    font-weight: bold;
}
.raspored__toggle{
    display:flex;
    justify-content: center;
}
.raspored__toggle--naslov{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}
.raspored__toggle--podnaslov{
    font-size: 14px;
   
    font-weight: 400;
}
.raspored__toggle--bojaon{
color: white;
background-color: #30cec2;
border-top-left-radius: 6px; 
    border-bottom-left-radius: 6px;
}
.raspored__toggle--bojaoff{
    color: #30cec2;
    background-color: white;
    border-top-right-radius: 6px; 
    border-bottom-right-radius: 6px;
    
  
}
.raspored__botuni{
    padding: 14px 40px;
    border-color: #30cec2;
    border:1px solid;
  
}
.raspored__termini{
    display: flex;
    flex-direction: column;
    padding: 40px 40px 0 40px;
    max-width: 900px;
    margin: 0 auto;
}
.raspored__termin{
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    position: relative;
    padding: 12px;
    padding-top: 20px;
    
    
}
.raspored__termin--pojedinacno{
display: flex;
align-content: center;

}
.raspored__termin--pojedinacno--vrijeme{
   
    padding-bottom: 10px;
    font-weight: 900;
    font-size: 18px;
  
 
}
.raspored__termin--pojedinacno--tekst{
    margin-bottom: 5px;
  
}
.raspored__termin--pojedinacno--tekst h1{
    color: #193b44;
    font-weight: 900;
    font-size: 22px;

}
.raspored__termin--pojedinacno--tekst a{
    color: #262626;
    font-weight: 500;
}
.raspored__termin--dev, .raspored__termin--design, .raspored__termin--tech{
    
    color: white;
    text-transform: uppercase;
    padding:3.25px 7px;
    margin-left: 20px;
    font-size: 12px;
}
.raspored__termin--dev {
    background-color: #a2d29f;
}
.raspored__termin--tech {
    background-color: #203c44;
}
.raspored__termin--design {
    background-color: #e25e5f;
}
.raspored__termin--logo{
 display: none;
}
.raspored__radionice--naslov{  
      font-size: 24px;
    font-weight: 600;
    padding-bottom: 10px;
    
    color: #30cec2;
}
/*ANIMACIJE */

.sponzori__animacija img:hover{
    transform: scale(1.1);
    transition: transform .25s;
}
.sponzori__generalnii--img{
    position: relative;
    
    max-width: 100%;
    border-radius: 6px;
    padding-bottom: 20px;

    
}

@keyframes micanje{
    from {left:0px;}
    to{left:30px;}
}
@media screen and (min-width: 768px){
    .paddingLR20--30{/*LEFT RIGHT*/
        padding: 0 20px;
    }
    .footer{
    
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        
    }

    .footer__nav{
        font-size: 20px;
        display: flex;
        flex-direction: row-reverse;
        align-content: center;
    }
    .footer h4{
     font-size: 14px;
    }
    .footer__copyright{
        font-size: 14px;
    }

    .raspored__termini h1:hover{
        color: #30cec2;
     }

    .pridruzi{
      
        flex-direction: row;
    }
    .pridruzi__registriraj {
        width: 50%;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }
    .pridruzi__kontaktiraj{
        display: flex;
        width: 50%;
        justify-content: flex-end;
        position: relative;
    }
    .pridruzi__kontaktiraj--content{
        max-width: 350px;
        width: 100%;
        z-index: 1;
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 0px;
    }
    .newsletter__wrapper{
      
    }
    .newsletter__button{
        font-size: 20px;
        font-weight: bold;
        width: 130px;
    }
    .newsletter__input{
        padding: 12px 20px;
        width: 400px;
    }
    .sponzori__zlatni{
        max-width: 1120px;
        margin: 0 auto;
    }
    .sponzori__zlatni--img{
        padding-top: 70%;
        width: 100%;
        height:initial;
    }
    .sponzori__zlatni--float{
        float: left;
        width: 33%;
    }
    .sponzori__zlatni::after{
        clear: both;
        display: block;
        content: "";

    }
    
    .sponzori__naslov{
        width:45%; height:30%;
        padding-bottom: 30px;
    }

    .sponzori__generalni--img{
        max-width: 100%;
        padding-bottom: 30px;
    }
    .galerija{
        max-width: 100%;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        padding-bottom:40px;
    }
    .galerija__iznad{
        position: absolute;
        z-index: 3;
    }
    .galerija__slike{
        display:flex;
        flex-direction: column;
    }
    .galerija__slike--gornje{
        display: flex;
        flex-direction: row;
       

    }
    .galerija__slike--donje{
        display: flex;
        flex-direction: row;
        padding: 0;
        margin:-20px;

     
    }
    .galerija__slike--gornje img{
        height:  248px;
       
    }
    .galerija__slike--donje img{
        height:  372px;
        
    }
    
    .galerija__iznad--logo{
        height: 650px;
        margin-left: -60px;
        margin-top:-15px;
    }
    .galerija__title {
        color: white;
        font-weight: 900;
        font-size: 42px;
        text-transform: uppercase;
        top:250px;
        left: 55px;
        position: absolute;
        z-index: 5;
    }
    .galerija__title--year{
        color: #30cec2;
        top:103px;
        left: 0;
      
    }
    .statistike{
        display: flex;
        justify-content: space-around;
    }
    .statistike h3{
        
        font-weight: 900;
        font-size: 11.5vw;
        color: #d8d8d8;
    }
    .statistike h4{
        text-transform: uppercase;
        margin-top: -10px;
        color: #30cec2;
        text-align: center;
        font-weight: 900;
        font-size: 40px;
    }
    .raspored__termini{
      
        padding-bottom: 70px;
    }
    
 
}

@media screen and (min-width: 820px){
    .sponzori__generalni{
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 100%
    }
    .sponzori__generalni--img{
        width:350px; 
        
        
    }
    .sponzori__naslov{
        width: 300px;
        margin-right: auto;
        margin-left: auto;
    }
    .sponzori__generalni--ljevi{
        
        padding-right: 100px;
    }
    .sponzori__generalni--desni{
        text-align: left;
        max-width: 390px;
       
    }
    
    .sponzori__generalni--h2{
        display: flex;
        flex-wrap: wrap;
       
        width: 300px;
    }
}
@media screen and (min-width: 1050px){
    .paddingLR20--30{/*LEFT RIGHT*/
        padding: 0 30px;
    }
    .sponzori__naslov{
        width: 430px;
        
    }
    .sponzori__generalni--img{
        width:450px; 
      
    }
    .raspored__termin--logo{
        position: absolute;
         display: block;
         height: 70px;
         opacity: 0.6;
         bottom: 22.5px;
         right: 10px;
     }
   
}