.js-close_menu{
    width: 50px;
    height: 50px;
}
.js-scrolled{
    text-decoration: none;
    font-size: 16px;
    height: 60%;
}
.header__scroll{
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 5;
    background-color: none;
    background-color: #1f3c44;
}
.header__scroll--logo{
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}
.header__scroll--logo--img{
    margin-left: 20px;
    height: 50px;
}
.header__scroll--hamburger{
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
}
.header__icon{
    width: 40px;
    height: 40px;
}
.side{
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 3;
    transform: translate3d(0,-110%,0);
    transition: all 0.3s ease-in-out;
    height: 110%;
    width: 100%;
    background-color: #1a3b43;
    padding: 0;
}
.side::-webkit-scrollbar{
    display: none;
}
.side::-ms-scrollbar{
    display: none;
}
.side::-webkit-scrollbar{
    display: none;
}
.side::-o-scrollbar{
    display: none;
}
.menu-visible .side{
    transform: translate3d(0,0,0);
}
.nav__inner{
    display: flex;
    flex-direction: column;
}
.nav__inner--menu{
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-top: 20%;
}
.nav__inner--close img {
    margin-right: 20px;
    margin-top: 20px;
}
.nav__inner--menu a{
    font-size: 28px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    margin-bottom: 40px;
    text-align: center;
}
.nav__inner--close{
    display: flex;
    align-self: flex-end;
}
.nav__inner--menu a:hover {
    color: #30cec2;
    font-weight: 700;
}

@media screen and (min-width: 768px){

}
@media screen and (min-width: 1024px){
    .header__scroll{
        align-items: center;
        height: 100px;
    }
    .header__scroll--hamburger{
        display: none;
    }
    .side{
        display: flex;
        flex-direction: row;
        transform: none;
        background-color: transparent;
        height: 60px;
        width: auto;
        position: unset;
        transition: unset;
    }
    .nav__inner{
        margin-top: auto;
        margin-bottom: auto;
    }
    .nav__inner--close{
        display: none;
    }
    .nav__inner--menu{
        display: flex;
        flex-direction: row;
        padding-top: 0;
    }
    .nav__inner--menu a{
        font-size: 18px;
        margin: auto 15px;
    }
}
@media screen and (min-width: 1440px){
    .nav__inner--menu{
        padding-right: 100px;
    }
    .header__scroll--logo--img{
        padding-left: 100px;
    }
}