*{
    padding: 0;
    margin: 0;
    font-family: "Source Sans Pro";
}
.margin--30{
    margin: 30px;
}
.margin--60{
    margin: 60px;
}
.margin--top--60{
    margin-top: 60px;
}
.margin--right--45{
    margin-right: 45px;
}
.padding--20{
    padding: 20px;
}
.about--title, .about--text{
    width: 100%;
}
.font-color--blue{
    color: #30cec2;
}
.font-color--white{
    color:white;
}
.font-color--darkgray{
    color: #1a3b43;
}
.button--blue{
    background-color: #30cec2;
    border-radius: 5px;
    padding: 10px 15px;
}
.title{
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 46px;
}
.text{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    width: 70%;
}
.photo__img--left{
    width: 100%;
    max-width: 480px;
    margin-left: -10%;
    padding-top: 30px;
    z-index: 2;
}
.photo__img--right{
    width: 75%;
    max-width: 480px;
    float: right;
    padding-bottom: 50px;
    z-index: 2;
}
.highlighted-number{
    font-size: 125px;
    font-weight: 900;
    opacity: .16;
}
.img--shadow{
    filter: drop-shadow(1px 3px 12px rgba(0, 0, 0, .2));
}
.change-color:hover{
    animation-name: my-colors;
    animation-duration: .5s;
 }
 
 @keyframes my-colors {
    from {color: white;}
    to {color: #30cec2;}
 }
 
 .change-color-dark h1:hover{
    animation-name: my-colors-dark;
    animation-duration: .25s;
 }
 
 @keyframes my-colors-dark {
    from {color: #193b44;}
    to {color: #30cec2;}
 }
 
 .hide-and-show{
    animation-name: hide-show;
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
 }
 
 @keyframes hide-show{
    from{
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;
    }
    to{
        visibility: visible;
        opacity: 1;
    }
 }
 .footer img{
    margin-bottom: -9px;
    padding-right: 10px;
 }
 .footer__nav div:hover > .move-right{
    position: relative;
    animation-name: slide-right;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
 }
 @keyframes slide-right {
    from {left: 0px;}
    to {left: 10px;}
 }
@media screen and (min-width: 1024px){
    .title{
        font-size: 52px;
    }
    .highlighted-number{
        font-size: 190px;
    }
    .text{
        font-size: 20px;
    }
}
@media screen and (min-width: 1440px){
    .photo__img--left{
        max-width: unset;
    }
    .photo__img--right{
        max-width: unset;
    }
    .title{
        font-size: 52px;
        line-height: 1.1;
    }
    .highlighted-number{
        font-size: 195px;
        line-height: 230px;
    }
    .text{
        font-size: 20px;
        line-height: 33px;
    }
}